{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "object-curly-spacing": "off",
    "linebreak-style": "off",
    "indent": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off"
  },
  "plugins": ["jest"]
}
